/* 
    Document   : style.css
    Created on : Jun 15, 2012, 1:53:23 PM
    Author     : sizvorea
    Description:
        Purpose of the stylesheet follows.
*/

body { padding: 60px 0px 10px 0px; }

.tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#parsedHl7 .segment { 
    margin-bottom: 7px; 
    clear:both;
    margin-left: 30px;
}

#parsedHl7 .segment .field:first-child {
    font-weight: bold;
    position: absolute;
    left:15px;
    background: #fff;
}

#parsedHl7 .field {
    display: inline-table; 
    text-align: center; 
    vertical-align: top;
    border: 1px dashed transparent;
    border-radius: 3px;
    padding: 0px 0px 1px 0px;
}

#parsedHl7 .field:hover {
    border-color: #ccc;
}

#parsedHl7 .field .count {
    /*display: table-row;
    display: table-cell;*/
    vertical-align: top;
    font-size: 9px;
    line-height: 14px;
    color:#aaa;
    padding: 0px 3px 0px 3px;
    display:none; /* Not visiable by default */
    
}

#parsedHl7 .component { padding: 1px 4px; color: #000; border-radius: 3px; }

#parsedHl7 .component.selected {
    background: #CFCFCF;
    background-image: linear-gradient(bottom, #CFCFCF 0%, #EDEDED 70%);
    background-image: -o-linear-gradient(bottom, #CFCFCF 0%, #EDEDED 70%);
    background-image: -moz-linear-gradient(bottom, #CFCFCF 0%, #EDEDED 70%);
    background-image: -webkit-linear-gradient(bottom, #CFCFCF 0%, #EDEDED 70%);
    background-image: -ms-linear-gradient(bottom, #CFCFCF 0%, #EDEDED 70%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #CFCFCF),
        color-stop(0.7, #EDEDED)
        );
    box-shadow: 0px 0px 5px #333; 
    border:none;  
}

#parsedHl7 .component:hover,
#parsedHl7 .component.selected:hover { 
    background: #fcfc00;
    background-image: linear-gradient(bottom, #EED200 0%, #FCFC00 70%);
    background-image: -o-linear-gradient(bottom, #EED200 0%, #FCFC00 70%);
    background-image: -moz-linear-gradient(bottom, #EED200 0%, #FCFC00 70%);
    background-image: -webkit-linear-gradient(bottom, #EED200 0%, #FCFC00 70%);
    background-image: -ms-linear-gradient(bottom, #EED200 0%, #FCFC00 70%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #EED200),
        color-stop(0.7, #FCFC00)
        ); 
    cursor: default; 
    box-shadow: 0px 0px 5px #333; 
}

#parsedHl7 .component[data-content] { border-bottom: 1px #ccc dotted; }
#parsedHl7 .component[data-content].selected { border: none; }
#parsedHl7 .component[data-content]:hover { 
    background: #00FF1A;
    background-image: linear-gradient(bottom, #00D115 0%, #00FF1A 70%);
    background-image: -o-linear-gradient(bottom, #00D115 0%, #00FF1A 70%);
    background-image: -moz-linear-gradient(bottom, #00D115 0%, #00FF1A 70%);
    background-image: -webkit-linear-gradient(bottom, #00D115 0%, #00FF1A 70%);
    background-image: -ms-linear-gradient(bottom, #00D115 0%, #00FF1A 70%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #00D115),
        color-stop(0.7, #00FF1A)
        );
    cursor: pointer; 
    border:none;  
}

#inputHl7 { width: 99%; height: 34px; font-family: "Courier New", "Courier New", monospace; margin: 0px; }

/**
 * When the segment is within a modal window
 */


#simplemodal-data > .separator {
    display: none;
}

#simplemodal-data .field {
    display:block;
    clear:both;
    overflow: hidden;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #444;
}

#simplemodal-data .field:first-child {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
    color:#fff;
}

#simplemodal-data .field .count {
    display: block;
    width:10%;
    float: left;
}

#simplemodal-data .field .repetition {
    display: block;
    width:54%;
    float: left;
    color:#fff;
}

#simplemodal-data .field > .separator {
    float:left;
    display: block;
}

#simplemodal-data .field .name {
    display: block;
    width:34%;
    float: left;
}

#simplemodal-data .field:first-child .name {
    display: none;
}